/* ===== SlickNav меню ===== */
.slicknav_menu {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    z-index: 999;
}

.slicknav_btn {
    background: transparent !important;
    border: none !important;
}

.slicknav_icon-bar {
    background-color: #20311e;
}

.slicknav_nav {
    background: #fff !important; 
    padding: 10px 20px;
}

.slicknav_nav a {
    color: #000000;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    background: transparent !important;
}

.slicknav_nav a:hover,
.slicknav_nav a:focus,
.slicknav_nav a:active {
    color: #DB9A64;
    background: transparent !important;
    outline: none; 
}

.mobile_menu {
    position: absolute;
    right: 10px;
    width: 96%;
    z-index: 99;
}

.mobile-langs {
    display: flex;           
    justify-content: center; 
    gap: 10px;               
    list-style: none;
    padding: 0;
    margin-top: 10px;
    text-align: center;
    background: transparent !important; 
}

.mobile-langs a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    background: transparent !important;
}

.mobile-langs a:hover,
.mobile-langs a:focus,
.mobile-langs a:active {
    color: #DB9A64;
    background: transparent !important;
    outline: none;
}